.cell {
    height: 60px;
    width: 60px;
    float: left;
    border: 1px solid yellow;
    box-sizing: border-box;
    position: relative;
}

.cell:nth-child(9n)
{
    border-right-color: red;
}

.cell:nth-child(9n + 1)
{
    border-left-color: red;
}

.cell:nth-child(9n+3),
.cell:nth-child(9n+6)
{
    border-right-width: 3px;
    border-right-color: red;
}

.cell:nth-child(9n+4),
.cell:nth-child(9n+7)
{
    border-left-width: 3px;
    border-left-color: red;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3),
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6),
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9)
{
    border-top-color: red;
}

.cell:nth-child(73),
.cell:nth-child(74),
.cell:nth-child(75),
.cell:nth-child(76),
.cell:nth-child(77),
.cell:nth-child(78),
.cell:nth-child(79),
.cell:nth-child(80),
.cell:nth-child(81)
{
    border-bottom-color: red;
}

.cell:nth-child(19),
.cell:nth-child(20),
.cell:nth-child(21),
.cell:nth-child(22),
.cell:nth-child(23),
.cell:nth-child(24),
.cell:nth-child(25),
.cell:nth-child(26),
.cell:nth-child(27),
.cell:nth-child(46),
.cell:nth-child(47),
.cell:nth-child(48),
.cell:nth-child(49),
.cell:nth-child(50),
.cell:nth-child(51),
.cell:nth-child(52),
.cell:nth-child(53),
.cell:nth-child(54)
{
    border-bottom-width: 3px;
    border-bottom-color: red;
}

.cell:nth-child(28),
.cell:nth-child(29),
.cell:nth-child(30),
.cell:nth-child(31),
.cell:nth-child(32),
.cell:nth-child(33),
.cell:nth-child(34),
.cell:nth-child(35),
.cell:nth-child(36),
.cell:nth-child(55),
.cell:nth-child(56),
.cell:nth-child(57),
.cell:nth-child(58),
.cell:nth-child(59),
.cell:nth-child(60),
.cell:nth-child(61),
.cell:nth-child(62),
.cell:nth-child(63)
{
    border-top-width: 3px;
    border-top-color: red;
}

.filled-cell {
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
    line-height: 58px;
}

.cell.selected {
    background: darkorange;
    color: black;
}

.pencil-mark {
    font-weight: bold;
    font-height: 18px;
    line-height: 20px;
    height: 20px;
    width: 20px;
}

.pencil-mark.pencil-1 {
    position: absolute;
    top: 0;
    left: 0;
}
.pencil-mark.pencil-2 {
    position: absolute;
    top: 0;
    left: 18px;
}
.pencil-mark.pencil-3 {
    position: absolute;
    top: 0;
    right: 0;
}
.pencil-mark.pencil-4 {
    position: absolute;
    top: 18px;
    left: 0;
}
.pencil-mark.pencil-5 {
    position: absolute;
    top: 18px;
    left: 18px;
}
.pencil-mark.pencil-6 {
    position: absolute;
    top: 18px;
    right: 0;
}
.pencil-mark.pencil-7 {
    position: absolute;
    bottom: 0;
    left: 0;
}
.pencil-mark.pencil-8 {
    position: absolute;
    bottom: 0;
    left: 18px;
}
.pencil-mark.pencil-9 {
    position: absolute;
    bottom: 0;
    right: 0;
}