.special-procedures {
    position: absolute;
    left: calc(50vw + 300px);
    top: 70px;
    padding: 10px;
    height: 300px;
    width: 300px;
    background: dodgerblue;
    header {
        font-size: 1.5em;
    }

    button {
        margin: 10px;

        &:disabled {
            color: gray;
        }
    }
}

